<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="../static/css/demo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <div class="navbar">
        <a th:href="@{/mainscreen}">Home</a>
        <a th:href="@{/about}">About</a>
    </div>

</head>
<body>
<header>
    <h1>About Us</h1>
</header>
<div class="container">
    <p>Welcome to Rhythm Forge, your premier destination for all things drumming! Rhythm Forge is more than just a store; it's a community-driven platform designed to inspire, educate, and equip drummers of all skill levels with the tools they need to unleash their creativity and passion for rhythm.</p>
    <h2>Our Mission</h2>
    <p>At Rhythm Forge, our mission is simple: to empower drummers to reach new heights in their musical journey. Whether you're a beginner exploring the world of drumming or a seasoned professional honing your craft, we're here to support you every step of the way. From top-quality drum kits and accessories to expert advice and resources, we're committed to providing drummers with the best possible experience and helping them achieve their musical goals.</p>
    <h2>Our Team</h2>
    <ul class="team-list">
        <li> Leticia</li>
        <li> Melissa</li>
        <li> Victoria</li>
    </ul>

    <h2>Contact Us</h2>
    <p>Email: info@rhythmforge.com</p>
    <p>Phone: 123-456-7890</p>
</div>
</body>
</html>
