<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="10;URL='mainscreen'">
    <!--    <meta charset="UTF-8">-->
    <title>Delete Product</title>
    <style>
        body{
            font-family: "Berlin Sans FB";
        }
        h1{
            margin-bottom: 20px;
            text-align: center;
        }
        body{
            background-color: cornflowerblue;
        }

        .navbar {
            text-align: center;
            font-family: "Berlin Sans FB";
            font-size: large;
        }

    </style>

</head>

<body>
<h1>Your product has been deleted!</h1>

<div class = "navbar">
    <a th:href="@{/mainscreen}">Continue to Stockroom</a></div>


</body>
